@use "@/styles/breakpoints" as bp;

.notFound {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  align-items: center;
  justify-content: center;
  gap: 20px;
  p {
    color: #4c6cb3;
  }
  button {
    border-radius: 9999px;
  }
}
.header {
  padding-left: 40px;
  display: flex;
  gap: 20px;
  height: 5rem;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.content {
  padding: 0 20px 20px 40px;
}
.sidebar {
  height: 100%;
}
