.navbar{
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:var(--theme-color);
  height:100vh;
}
.nav{
  padding:20px;
}
.nav:hover{
  background-color: var(--sub-color);
}
