@use "@/styles/breakpoints" as bp;

.list {
  position: sticky;
  top: 0;
  height: 70px;
  z-index: 10;
  background-color: var(--background);
  border: none;
  border-bottom: 5px;
}
.card {
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 20px;
  .header {
    display: flex;
    gap: 10px;
    justify-content: left;
    align-items: center;
    text-indent: 0.5rem;
    .date {
      text-indent: 1rem;
      color: gray;
    }
    .rightSection {
      margin-left: auto;
      margin-right: 5px;
    }
  }
  .contents {
    padding: 0 50px;
    max-width: 100%;
    @media (max-width: bp.$sm) {
      padding: 0 5px;
    }
    img {
      max-width: 100%;
      height: auto;
      padding: 0;
    }
  }
  .readMoreButton {
    color: blue;
  }
  .actions {
    padding-right: 50px;
    padding-left: 50px;
    display: flex;
    gap: 10px;
    align-items: center;
    .comment {
      width: 90%;
    }
  }
  .comments {
    border-top: 2px solid lightgray;
    padding: 20px 0 20px 0;
  }
}
