.list {
  position: sticky;
  top: 0;
  height: 70px;
  z-index: 10;
  background-color: var(--background);
  border: none;
}
.wrapper {
  display: flex;
  padding: 20px 20px 20px 40px;
  padding-top: 0;
  width: 100%;
  height: calc(100vh - var(--header-height));
}
.sidebar {
  height: 100%;
}
