@use "@/styles/breakpoints" as bp;

.groupList {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: auto;
  overflow: visible;
  .list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;

    @media (max-width: bp.$sm) {
      grid-template-columns: 1fr;
    }
  }
}
