@use "@/styles/breakpoints" as bp;

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 90%;
  align-items: center;
  margin: 20px auto;
  .right {
    margin-left: auto;
    @media (max-width: bp.$sm) {
      margin: 0;
      width: 100%;
    }
  }
}
