.loginPage{
  text-align: center;
  background-color: #f0f0f0 ;
  height:100vh;
  padding-top: 80px;
}

.loginPage h1{
  margin-bottom: 20px;
}

.loginWindow{
  width:400px;
  padding: 40px;
  background-color: white;
  margin: 0 auto;
  gap:20px;
  border-radius: 2%;
}

.loginWindow img{
  cursor:pointer;
  width:50%;
}

.loginWindow ul{
  list-style: none;
}
.loginWindow li{
  margin-bottom: 20px;
}

.inputField{
  width:80%;
}

.split{
  display: flex;
  align-items: center;
  width:100%
}

.split::before,
.split::after{
  background-color: gray;
  content: "";
  flex-grow: 1;
  height:1px;
  margin: 0 5px;
}


.googleLogin{
  margin: 0 auto;;
  display: flex;
  justify-content: center;
  align-items: center;
  width:80%;
  height:50px;
  border:1px solid black;
  border-radius: 100vh;
  cursor: pointer;
}

.googleLogo{
  max-width:30px;
}