@use "@/styles/breakpoints" as bp;

.card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  .header {
    display: flex;
    gap: 10px;
    justify-content: left;
    align-items: center;
    text-indent: 0.5rem;
    .avatar {
      width: 50px;
      height: 50px;
    }
    .date {
      text-indent: 1rem;
      color: gray;
    }
    .menu {
      margin-left: auto;
    }
  }
  .contents {
    padding: 0 20px;
    max-width: 100%;
    @media (max-width: bp.$sm) {
      padding: 0 5px;
    }
    cursor: pointer;
    img {
      max-width: 100%;
      height: auto;
      padding: 0;
    }
    pre {
      background-color: #333333;
      color: white;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid lightgray;
      white-space: pre-wrap;
      word-break: break-word;
    }
    ol,
    ul {
      padding-left: 1.5rem;
    }
  }
  .readMoreButton {
    color: blue;
  }
  .actions {
    display: flex;
    gap: 10px;
    align-items: center;
    .comment {
      width: 90%;
    }
  }
}
