.form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
}

.button{
  width:100%;
  margin: 0 auto;
}

.error{
  color:red;
  font-size: 14px;
  text-indent: 1rem;
}