.loginPage {
  text-align: center;
  background-color: var(--background);
  height: 100vh;
  padding-top: 80px;
}

.loginPage h1 {
  margin-bottom: 20px;
}

.loginWindow {
  width: 400px;
  max-width: 90%;
  padding: 40px;
  background-color: white;
  margin: 0 auto;
  gap: 20px;
  border-radius: 2%;
  img {
    cursor: pointer;
    width: 50%;
  }
  ul {
    list-style: none;
    li {
      margin-bottom: 20px;
    }
  }
}

.split {
  display: flex;
  align-items: center;
  width: 100%;
  &::after,
  &::before {
    background-color: gray;
    content: "";
    flex-grow: 1;
    height: 1px;
    margin: 0 5px;
  }
}

.googleLogin {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 50px;
  border: 1px solid black;
  border-radius: 100vh;
  cursor: pointer;
}

.googleLogo {
  max-width: 30px;
}
