.navbar {
  padding: 20px 10px;
  width: 240px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  height: 100vh;
  border-right: 1px solid lightgray;
  position: relative;
}

.targetNav {
  border-radius: 100vh;
  background-color: #f0f0f0;
}
.nav:hover,
.targetNav:hover {
  border-radius: 100vh;
  background-color: #f0f0f0;
}
.title {
  display: flex;
  align-items: center;
  width: 100%;
  &::before,
  &::after {
    background-color: gray;
    content: "";
    flex-grow: 1;
    height: 1px;
    margin: 0 5px;
  }
}
