.header{
  display: flex;
  height: 100%;
  border: 1px;
  padding: 10px;
  background-color: var(--sub-color);
}
.leftSection{
  width:100%;
  display: flex;
  align-items: center;
  margin-left: 40px;
  gap:20px;
}

.rightSection{
  width:100%;
  display: flex;
  justify-content: right;
  align-items: center;
  gap:20px;
  margin-right: 20px;
}
.search{
  border-radius: 100vh;
  width:300px;
}
.userIcon{
  height:80%;
  border-radius: 50%;
  cursor: pointer;
}
.userIcon:hover{
  box-shadow: 0 0 8px gray;
}
.guestIcon{
  display: flex;
  justify-content: center;
  align-items: center;
  height:100%;
  width:120px;
  border: 1px solid gray;
  border-radius:100vh;
  margin-right: 20px;
}

.projectName{
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  padding: 0px 10px;
}

.setting{
  height:30px;
  width:30px;
  border-radius: 50%;
  cursor: pointer;
}
.setting:hover{
  box-shadow: 0 0 8px gray;
}

.groupIcon{
  cursor: pointer;
  min-width: 100px;
  text-align: center;
  margin-left: auto;
}
.groupIcon:hover{
  /*text-decoration: underline;*/
  border-bottom: 2px solid black;
}