@use "@/styles/breakpoints" as bp;

.list {
  position: sticky;
  top: 0;
  height: 70px;
  z-index: 10;
  background-color: var(--background);
  border: none;
  border-bottom: 5px;
  @media (max-width: bp.$sm) {
    height: 50px;
  }
}
.articles {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.noArticles {
  margin: 40px auto;
  text-align: center;
  color: #4c6cb3;
}
